// https://emotion.sh/docs/css-prop#babel-preset

{
    "presets": [
      [
        "next/babel", // es6이상 문법과 타입스크립트 지원함.
        {
          "preset-react": {
            "runtime": "automatic",
            "importSource": "@emotion/react"
          }
        }
      ]
    ],
    "plugins": ["@emotion/babel-plugin"]
  }